.resume-button {
    text-align: center;
    margin: 40px 0;
  }
  
  .resume-button button {
    color: #ff014f;
    padding: 15px 30px;
    font-weight: bold;
    transition: 0.5s;
  }
  
  .resume-content {
    max-width: 85%;
    margin: auto;
    margin-top: 30px;
    display: none;
  }
  
  .resume-content p {
    font-size: 18px;
    transition: 0.5s;
  }
  
  /* Optional: Adjust the media query for better mobile layout */
  @media (max-width: 768px) {
    .Resume .d_flex {
      flex-direction: column;
    }
    .Resume .left::after {
      top: 14%;
      height: 105vh;
    }
  }
  